<%= stylesheet_link_tag 'style'%>
<%= button_to "Sign Out", destroy_user_session_path, method: :delete, form_class: "sign-out-form" %>

<section class='user-section'>
  <% @users.each do |user| %>
    <a href="<%= user_path(user.id) %>" class="nav-link">
      <div class='user-home'>
        <div class='user-img'>
        <img src="<%= asset_path('photo-1508921912186-1d1a45ebb3c1.jpg') %>" class="user-photo">
        </div>
        <div class='about-user'>
          <p class="user-name"><%= user.name %></p>
          <p class="number-of-posts">Number of Posts: <%= user.posts.count %></p>
        </div>
      </div>
    </a>
  <% end %>
</section>