<%= stylesheet_link_tag 'style' %>

<section class='user-section'>
  <% @users.each do |user| %>
    <a href="<%= user_path(user) %>" class="nav-link">
      <div class='user-home'>
        <div class='user-img'>
          <% if user.photo.attached? %>
            <%= image_tag user.photo %>
          <% else %>
            <%= image_tag 'https://unsplash.com/photos/F_-0BxGuVvo' %>
          <% end %>
        </div>
        <div class='about-user'>
          <p class="user-name"><%= user.name %></p>
          <p class="number-of-posts">Number of Posts: <%= user.posts.count %></p>
        </div>
      </div>
    </a>
  <% end %>
</section>
