<%= stylesheet_link_tag 'style' %>

<section class="user-section">
  <div class="user-details">
    <div class="user-img">
      <!-- Check if user has a photo attached -->
      <% if @user.photo.attached? %>
        <%= image_tag url_for(@user.photo.variant(resize_to_limit: [85, 85])) %>
      <% else %>
        <%= image_tag asset_path('photo-1508921912186-1d1a45ebb3c1.jpg'), class: 'user-photo' %>
      <% end %>
    </div>
    <div class='about-user'>
      <p class="user-name"><%= @user.name %></p>
      <p class="number-of-posts">Number of Posts: <%= @user.posts.count %></p>
    </div>
  </div>
  
  <div class="user-posts">
    <% @posts.each_with_index do |post, index| %>
      <div class="post-details">
        <h2>Post #<%= index + 1 %></h2>
        <div class="post-content">
          <a href="<%= post_path(post) %>">
            <p><%= truncate(post.text, length: 50, separator: ' ') %></p>
          </a>
          <div class="c-l">
            <p>Comments: <%= post.comments.count %>, Likes: <%= post.likes.count %></p>
          </div>
        </div>

        <!-- Show the 5 most recent comments for each post -->
        <div class='comment-list'>
          <% post.comments.order(created_at: :desc).limit(5).each do |comment| %>
            <% if comment.user.present? %>
              <p><%= comment.user.name %>: <%= comment.text %></p>
            <% else %>
              <p>Anonymous: <%= comment.text %></p>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <!-- Move the pagination button outside the loop -->
  <div class='see-button'>
    <button class="see-all">
      <%= link_to 'Pagination', user_posts_path(@user.id) %>
    </button>
  </div>
</section>
